---
import { Circle } from "lucide-react";

import Layout from "../layouts/layout.astro";
import { type ButtonProps, Button } from "../components/ui/button";

const variants: ButtonProps["variant"][] = [
	"primary",
	"secondary",
	"tertiary",
	"danger",
];
---

<Layout class="p-5 bg-primary space-y-5 *:p-5">
	{
		variants.map((variant) => (
			<Fragment>
				{Array.from({ length: 2 }).map((_, i) => (
					<section
						class:list={[
							i === 1 && "dark",
							"bg-primary flex items-center gap-5 *:w-fit w-fit rounded-3xl",
						]}
					>
						<Button variant={variant}>
							<Circle size={20} />
							Button CTA
							<Circle size={20} />
						</Button>
						<Button variant={variant} onlyIcon>
							<Circle size={20} />
						</Button>
						<Button variant={variant} disabled>
							<Circle size={20} />
							Button CTA
							<Circle size={20} />
						</Button>
						<Button variant={variant} onlyIcon disabled>
							<Circle size={20} />
						</Button>
					</section>
				))}
			</Fragment>
		))
	}
</Layout>
