---
import "../styles/global.css";
import "@fontsource-variable/geist";
import "@fontsource-variable/geist-mono";

type Props = {
    class?: string;
};
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Astro</title>
    </head>
</html>
<body class:list={[Astro.props.class]}>
    <slot />
</body>
